:root {
    --white: #fff;
    --light-grey: ;
    --light-green: #e6ffaa;
    --black: #000000;
    --golden-yellow: #dfff94;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--light-green);
  }
  
  span {
    color: #005e25;
  }

  .animate {
    animation: moveY 2s infinite;
  }
  
  @keyframes moveY {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(18px); 
    }
    100% {
      transform: translateY(0);
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: var(--light-grey);
    font-size: 40px;
    margin: 20px 0 40px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .todo-app {
    background-color: var(--white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100vw;     
    height: 100vh;
    border: 3px solid var(--black);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .btn {
    cursor: pointer;
    width: 28%;
    margin: 10px;
    color: var(--dark-grey);
    background-color: var(--golden-yellow);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    font-family: monospace;
  }

  i {
    color: rgb(0, 83, 44);
  }
 
  h3 {
    font-size: 15px;
  }
  

  .red {
    color: rgb(255, 56, 56);
  }
  
  .btn:hover {
    background-color: #9fff82;
  }
  
  .large-btn {
    width: 50%;
    font-size: 1.1rem;
    align-self: center;
    justify-self: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .close-task-form-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .close-icon {
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .task-form {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 5px;
    padding: 15px;
    width: 900px;
    height: 950px;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }

  hr {
    border: 1px solid black;
    width: 95%;
    margin-bottom: 5px;
  }

  #title-input {
    font-size: 20px;
    color: black;
    font-weight: 500;
  }

  #description-input {
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
  
  .task-form-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .task-form-body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .task-form-footer {
    display: flex;
    justify-content: center;
  }
  
  .task-form-label,
  #title-input,
  #date-input,
  #description-input {
    display: block;
  }
  
  .task-form-label {
    margin-bottom: 5px;  
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  
  #title-input,
  #date-input,
  #description-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ababab;
  }

  #description-input,
  #confirm-close-dialog {
    padding: 20px;
    margin: 10px auto;
    border-radius: 8px;
    transition: 0.5s;
}
  
  .confirm-close-dialog-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .discard-message-text {
    font-weight: 500;
    
  }
  
  #tasks-container {
    height: 100%;
    overflow-y: auto;
  }
  
  .task {
    margin-top: 15px;
  }
  
  .hidden {
    display: none;
  }
  
  @media (min-width: 576px) {
    .todo-app,
    .task-form {
      width: 650px;
      height: 550px;
      border: 2px solid var(--black);
    }
  
    .task-form-label {
      font-size: 20px;
    }
  
    #title-input,
    #date-input {
      height: 2rem;
    }
  
    #title-input,
    #date-input,
    #description-input {
      padding: 5px;
      margin-bottom: 20px;
      
    }

    .discard-message-text {
        font-weight: bold;
        font-family: monospace;
        font-size: 20px;
    }
  }

  @media (max-width: 700px) {
    .todo-app, .task-form {
      width: 570px;
      height: 510px;
    }

    hr {
      width: 90%;
    }
  }

  @media (max-width: 400px) {
    .todo-app, .task-form {
      width: 340px;
      height: 550px;
      margin-bottom: 35px;
    }

    hr {
      width: 88%;
    }

    .large-btn {
       font-size: 20px;
    }

    p{
      font-size: 18px;
    }
  }